

.color{
    background-color: rgb(170, 170, 48);
}

header{
    background-image: url(./img/pattern.png);
    background-color: aquamarine;
    padding-top: 100px;
    width: 100%;
    height: 80px;
    
}

.grandezza{
    width: 300px;
    height: 200px;
    
}

#stringa{
    background-color: rgb(21, 21, 122);
    color: white;
}

.stringa2{
    background-color: aqua;
}
